---
layout: default
---

<div class="home">
  
  <p>
    Kurssilla käsitellään ohjelmistotuotantoprojektien hallinnan, työvaiheiden ja työvälineiden perusteita. Erityinen
    painotus ketterissä ohjelmistotuotantomenetelmissä.
  </p>

  <p>
    Kurssin opetusjärjestelyt ja arvosteluperusteet on kuvattu <a href="/osa0/">osassa 0</a>, lue ne tarkasti heti kurssin alussa!
  </p>

  <h1 class="page-heading">Ajankohtaista</h1>

  <ul>
    <li>
      Laskarien vaikutus kurssipisteisiin on kerrottu tarkemmin <a href="/osa0"></a> kohdassa <i>Laskarien pisteytysperusteet</i>
    </li>
    <li> Koe on pidetty, arvosteluperusteita ja mallivastauksia alkaa ilmestyä <a href="/koe2020">tänne</a>. 
       Tällä hetkellä on valmiina tehtävien 2 ja 5 sekä oikein/väärin-väittämien pisteytys.
     <li>
        Myös erilliskokeisiin (katso ajankohdat <a href='https://studies.helsinki.fi/opintotarjonta/cu/hy-CU-118024909-2020-08-01'>täältä</a>)  valmistautuvan kannattaa lukea <a href="ohje_kokeeseen">ohjeita kokeeseen</a>
     </li>   
    <li>
      Linkit vierailuluentojen tallenteisiin löytyvät alempaa viikkoaikataulun kohdalta. Viikkojen 6 ja 7 quizzit liittyvät vierailuluentoihin.
    </li>
    <li>Muista miniprojektien <a href="/miniprojektin_arvosteluperusteet/#lopputoimenpiteet">lopputoimet</a>!
    </li>
    <li>Kurssi järjestetään kokonaan virtuaalisena, paikasta ja suureksi osaksi myös ajasta riippumattomana. Luentojen zoom-linkit
        <ul>
          <li>
            <a href="https://helsinki.zoom.us/j/69711584284">maanantain luennot 12-14</a>
          </li>
          <li>
            <a href="https://helsinki.zoom.us/j/66777704189">tiistain luennot 12-14</a>
          </li>
          <li>Luennoista tehdän tallenteet</li>
        </ul>
    </li>
    <li>Tehtävien palautussovellus <a href='{{site.stats_url}}'>{{site.stats_url}}</a></li>
    <li>
      Paja-ohjausta
      <ul>
        <li>
            maanantaisin 14-16 <a href="https://helsinki.zoom.us/j/63962392550?pwd=RzluTjZWYmNLb0g4bjRxb0ZlckRkUT09">zoom</a>
        </li>
        <li>
          perjantaisin 10-12 <a href="https://helsinki.zoom.us/j/64396759243">zoom</a>
        </li>
      </ul>
    </li>
    <li>Kurssiin liittyvää keskustelua <a href='https://telegram.me/ohjelmistotuotanto'>Telegramissa</a>, tule mukaan!</li>
    <ul>
      <li>Telegram on whatsappin/messengerin tyylinen keskustelufoorumisovellus, jota on mahdollista käyttää selaimella, mobiililaitteilla ja Windows/Linux/macOS-clienteillä. </li>
      <li><strong>Huom:</strong> kaikki epäasialliset, halventavat ja jotain ihmisryhmää syrjivät kommentit kanavalla ovat kiellettyjä ja tälläisten
      kommenttien esittäjät poistetaan kanavalta</li>
    </ul>
  </ul>

  <hi class="page-heading">Aikataulu</hi>

  <div style="margin-bottom: 15px;"></div>

<h3 id="viikko-1">Viikko 1</h3>

<ul>
  <li>Luento 1: maanantai 26.10. klo 12-14 <a href="https://youtu.be/PSf23rK6Rt8">tallenne</a>
    <ul>
      <li><a href="/osa0">Johdanto</a></li>
      <li><a href="/osa1#ohjelmistotuotanto-ja-sen-osa-alueet">Ohjelmistotuotantoprosessin vaiheet</a></li>
      <li><a href="/osa1#ketterä-ohjelmistokehitys">Ketterä ohjelmistokehitys</a></li>
    </ul>
  </li>
  <li>Luento 2: tiistai 27.10. klo 12-14 <a href="https://youtu.be/cpHRgaSUAxQ">tallenne</a>
    <ul>
      <li><a href="osa1#scrum">Scrum</a></li>
    </ul>
  </li>
  <li>Laskarit
    <ul>
      <li><a href="{{site.stats_url}}/quiz/1">monivalintatehtävät</a> deadline
        sunnuntaina 1.11. klo 23:59:00</li>
      <li><a href="/tehtavat1">ohjelmointi/versionhallinta/konfigurointitehtävät</a> deadline
        maanantaina 2.11. klo 23:59</li>
    </ul>
  </li>
</ul>

<h3 id="viikko-2">Viikko 2</h3>

<ul>
  <li>Luento 3: maanantai 2.11. klo 12-14  <a href="https://www.youtube.com/watch?v=oQArv-hAYkM">tallenne</a>
    <ul>
      <li><a href="/osa2#vaatimusmäärittely">Vaatimusmäärittely</a></li>
      <li><a href="/osa2#user-story">Ketterä vaatimusten hallinta</a></li>
    </ul>
  </li>
  <li>Luento 4: tiistai 4.11. klo 12-14 <a href="https://youtu.be/MV8zQM8gmhA">tallenne</a>
    <ul>
      <li><a href="/osa2#user-story">Ketterä vaatimusten hallinta jatkuu</a></li>
      <li><a href="/osa2#sprintin-suunnittelu">Sprintin suunnittelu- ja hallinta</a></li>
    </ul>
  </li>
  <li>Laskarit
    <ul>
      <li><a href="{{site.stats_url}}/quiz/2">monivalintatehtävät</a> deadline
        sunnuntaina 8.11. klo 23:59:00</li>
      <li><a href="/tehtavat2">ohjelmointi/versionhallinta/konfigurointitehtävät</a> deadline
        maanantaina 9.11. klo 23:59</li>
    </ul>
  </li>
</ul>

<h3 id="viikko-3">Viikko 3</h3>

<ul>
  <li>Luento 5: maanantai 8.11. klo 12-14  <a href="https://youtu.be/uo4-NnaPriM">tallenne</a>
    <ul>
      <li><a href="/osa3">Laadunhallinnan perusteet</a></li>
    </ul>
  </li>
  <li>Luento 6: tiistai 10.11. klo 12-14 <a href="https://youtu.be/yW4MONAW2ZA">tallenne</a>
    <ul>
      <li><a href="/osa3#ketterien-menetelmien-testauska%CC%88yta%CC%88nteet">Ketterien menetelmien
          testauskäytänteet</a></li>
    </ul>
  </li>
  <li>Laskarit
    <ul>
      <li><a href="{{site.stats_url}}/quiz/3">monivalintatehtävät</a> deadline
        sunnuntaina 15.11. klo 23:59:00</li>
      <li><a href="/tehtavat3">ohjelmointi/versionhallinta/konfigurointitehtävät</a> deadline
        maanantaina 16.11. klo 23:59</li>
    </ul>
  </li>
</ul>

<h3 id="viikko-4">Viikko 4</h3>

<ul>
  <li>Luento 7: maanantai 16.11. klo 12-14  <a href="https://youtu.be/YBo7xH0mhrk">tallenne</a>
    <ul>
      <li><a href="/osa3#tuotannossa-tapahtuva-testaaminen-ja-laadunhallinta">Tuotannossa tapahtuva laadunhallinta</a>
      </li>
      <li><a href="/osa3#devops">DevOps</a></li>
    </ul>
  </li>
  <li>Luento 8: tiistai 17.11. klo 12-14 <a href="https://youtu.be/HqhhAtnGwFo">tallenne</a>
    <ul>
      <li><a href="/osa4#ohjelmiston-arkkitehtuuri">Arkkitehtuurisuunnittelu</a></li>
      <li><a href="/osa4#arkkitehtuuri-ketterissä-menetelmissä">Arkkitehtuuri ketterissä menetemissä</a></li>
      <li><a href="http://localhost:4000/osa4#olio/komponenttisuunnittelu">Olio/komponenttisuunnittelu</a></li>
    </ul>
  </li>
  <li>Laskarit
    <ul>
      <li><a href="{{site.stats_url}}/quiz/4">monivalintatehtävät</a> deadline
        sunnuntaina 22.11. klo 23:59:00</li>
      <li><a href="/tehtavat4">ohjelmointi/versionhallinta/konfigurointitehtävät</a> deadline
        maanantaina 23.11. klo 23:59</li>
    </ul>
  </li>
  <li>Miniprojekti
    <ul>
      <li>Aloitustilaisuudet</li>
    </ul>
  </li>
</ul>

<h3 id="viikko-5">Viikko 5</h3>

<ul>
  <li>Luento 9: maanantai 23.11. klo 12-14  <a href="https://youtu.be/j7Lb1zYZQyA">tallenne</a>
    <ul>
      <li><a href="/osa5#lean">Lean</a></li>
    </ul>
  </li>
  <li>Luento 10: tiistai 24.11. klo 12-14 <a href="https://youtu.be/ECvILddinvs">tallenne</a>
    <ul>
      <li><a href="/osa5#laajan-skaalan-kettera%CC%88-ohjelmistokehitys">Laajan skaalan ketterä ohjelmistokehitys</a>
      </li>
      <li><a href="/osa5#ketterien-menetelmien-käyttö-ja-hyödyt-tutkimuksen-valossa">Ketterien menetelmien käyttö ja
          hyödyt tutkimuksen valossa</a></li>
    </ul>
  </li>
  <li>Laskarit
    <ul>
      <li><a href="{{site.stats_url}}/quiz/5">monivalintatehtävät</a> deadline
        sunnuntaina 29.11. klo 23:59:00</li>
      <li><a href="/tehtavat5">ohjelmointi/versionhallinta/konfigurointitehtävät</a> deadline
        maanantaina 30.11. klo 23:59</li>
    </ul>
  </li>
  <li>Miniprojekti
    <ul>
      <li>Asiakastapaamiset (sprintin 1 review, sprintin 2 suunnittelu)</li>
    </ul>
  </li>
</ul>

<h3 id="viikko-6">Viikko 6</h3>

<ul>
  <li>Vierailuluennot
      <li>
        Vierailuluento Juha Viljanen Smartly <a href="https://www.youtube.com/watch?v=3ZRPtoU_nKQ&ab_channel=moocfi">video</a> <a href="https://github.com/ohjelmistotuotanto-hy/slides/blob/master/vierailuluennot/smartly.pdf">kalvot</a>
      </li>
      <li>
        Vierailuluento Niko Laitinen Nitor <a href="https://www.youtube.com/watch?v=dhDusAPpjos&ab_channel=moocfi">video</a> <a href="https://github.com/ohjelmistotuotanto-hy/slides/blob/master/vierailuluennot/nitor.pdf">kalvot</a>
      </li>
  </li>
  <li>Laskarit
    <ul>
      <li><a href="{{site.stats_url}}/quiz/6">monivalintatehtävät</a> deadline
        perjantaina 11.12. klo 23:59:00</li>
      <li><a href="/tehtavat6">ohjelmointi/versionhallinta/konfigurointitehtävät</a> deadline
        maanantaina 7.12. klo 23:59</li>
    </ul>
  </li>
  <li>Miniprojekti
    <ul>
      <li>Asiakastapaamiset (sprintin 2 review, sprintin 3 suunnittelu)</li>
    </ul>
  </li>
</ul>

<h3 id="viikko-7">Viikko 7</h3>

<ul>
  <li>Vierailuluennot
    <li>
      Vierailuluento Marko Klemetti Eficode <a href="https://www.youtube.com/watch?v=FipoHtP2IJo&ab_channel=moocfi">video</a> <a href="https://github.com/ohjelmistotuotanto-hy/slides/blob/master/vierailuluennot/eficode.pdf">kalvot</a>
    </li>
    <li>
      Vierailuluento Hannu Kokko Elisa <a href="https://www.youtube.com/watch?v=kpBlLR10oVs&ab_channel=moocfi">video</a> <a href="https://github.com/ohjelmistotuotanto-hy/slides/blob/master/vierailuluennot/elisa.pdf">kalvot</a>
    </li>
  </li>
  <li>Laskarit
    <ul>
      <li><a href="{{site.stats_url}}/quiz/7">monivalintatehtävät</a> deadline
        perjantaina 18.12. klo 23:59:00</li>
      <li><a href="/tehtavat7">ohjelmointi/versionhallinta/konfigurointitehtävät</a> deadline
        maanantaina 14.12. klo 23:59:00</li>
    </ul>
  </li>
  <li>Miniprojekti
    <ul>
      <li>Loppudemot (jokainen ryhmä osallistuu toiseen demoista)</li>
      <ul>
        <li>
          tiistai 8.12. klo 12-14
        </li>
        <li>
          torstai 10.12. klo 14-16
        </li>
        <li>
          perjantai 11.12. klo 14-16 
        </li>
      </ul>
    </ul>
  </li>
</ul>

<h3 id="viikko-8">Viikko 8</h3>

<ul>
  <li>
    Kurssikoe torstaina 17.12. klo 17-21
  </li>
</ul>

  <h1 class="page-heading">Kurssimateriaalin tekijä ja lisenssi</h1>
  <p>
    Kurssimateriaalin on tehnyt <a href='https://github.com/mluukkai'>Matti Luukkainen</a>. Lukuisat <a href='https://github.com/ohjelmistotuotanto-hy/ohjelmistotuotanto-hy.github.io/graphs/contributors'>henkilöt</a> ovat parantaneet materiaalin laatua kirjoitus- ja asiavirhekorjauksin. Voit
    <a href='/osa0#typoja-materiaalissa'>osallistua</a> kurssimateriaalin parantamiseen myös itse.
  </p>
  <p> 
    Tämä materiaali on lisensoitu <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons BY-NC-SA 3.0 -lisenssillä</a>, joten voit käyttää ja levittää sitä vapaasti, kunhan alkuperäisten tekijöiden nimiä ei poisteta. Jos teet muutoksia materiaaliin ja haluat levittää muunneltua versiota, se täytyy lisensoida
    samalla lisenssillä. Materiaalien käyttö kaupalliseen tarkoitukseen on ilman erillistä lupaa kielletty. 
  </p>
</div>
