---
layout: default
---

<div class="home">
  
  <p>
    Kurssilla käsitellään ohjelmistotuotantoprojektien hallinnan, työvaiheiden ja työvälineiden perusteita. Erityinen
    painotus ketterissä ohjelmistotuotantomenetelmissä.
  </p>

  <p>
    Kurssin opetusjärjestelyt ja arvosteluperusteet on kuvattu <a href="/osa0/">osassa 0</a>, lue ne tarkasti heti kurssin alussa!
  </p>

  <h1 class="page-heading">Ajankohtaista</h1>

  <ul>
    <li>Kurssin alustavat <a href='https://github.com/ohjelmistotuotanto-hy/ohjelmistotuotanto-hy.github.io/blob/master/ohtu-arvos.pdf'>tulokset</a></li>
    <li>
      <a href='https://courses.helsinki.fi/fi/TKT20006/133010615'>Kurssikoe</a> pidettiin maanantaina 16.12. 9-12
      <ul>
        <li>
          arvosteluperusteet ja mallivastaukset löytyvät <a href='koe'>täältä</a>
        </li>
        <li>
          tehtävien alustavat <a href='https://github.com/ohjelmistotuotanto-hy/ohjelmistotuotanto-hy.github.io/blob/master/ohtu12345.pdf'>pisteet</a>
        </li>
        <li>
          <a href='ohje_kokeeseen'>ohje</a> kokeeseen, koskee myös uusintakoetta, joka pidetään torstaina 30.1. klo 16 ja erilliskokeita
        </li>
      </ul>
    </li>
    <li>
      Kurssin laskaritehtävien yhteenlaskettu määrä on 64.
      Täydet 8 kurssipistettä saa 58:lla laskarirastilla, yhteen pisteeseen riittää 16 laskarirastia.
    </li>
    <li>
      Lisätietoa <a href='/miniprojekti/'>miniprojekteista</a>
    </li>
    <li>Vierailuluennot
      <ul>
        <li>Maanantai 2.12. klo 12-14 CK112
          <ul>
            <li>
              Juha Viljanen: <em>Software Testing: Why, How and What — and how we test at Smartly.io</em>
              <a href="https://www.helsinki.fi/fi/unitube/video/7a5c9b34-017c-4c1b-84be-1027e8ed926e">tallenne</a>
              <a href="https://github.com/ohjelmistotuotanto-hy/slides/blob/master/vierailuluennot/smartly.pdf">slidet</a>
            </li>
          </ul>
        </li>
        <li>Tiistai 3.12. klo 12-14 CK112
          <ul>
            <li>Niko Laitinen Nitor: <em>Digital Product Design: Building software that stays alive</em> </li>
              <a href="https://www.helsinki.fi/fi/unitube/video/c26e3913-8702-43d5-8684-3e2b176b24bc">tallenne</a>
              <a href="https://github.com/ohjelmistotuotanto-hy/slides/blob/master/vierailuluennot/nitor.pdf">slidet</a>
          </ul>
        </li>
        <li>Maanantai 9.12. klo 12-14 CK112
          <ul>
            <li>
              Hannu Kokko Elisa: <em>Kokemuksia ketterän globaalin tuotekehityksen vetämisestä parinkymmenen vuoden ajalta</em>
              <a href="http://hy.fi/unitube/video/553b30fc-24ca-4b8d-8517-00e1e1ebdb5b">tallenne</a>
                          <a href="https://github.com/ohjelmistotuotanto-hy/slides/blob/master/vierailuluennot/elisa.pdf">slidet</a>
            </li>
          </ul>
        </li>
        <li>Tiistai 10.12. klo 12-14 CK112
          <ul>
            <li>Marko Klemetti Eficode: <em>DevOps</em></li>
            <a href="https://www.helsinki.fi/fi/unitube/video/2530b74a-f5da-49f2-ada2-f87b15343a65">tallenne</a>
            <a href="https://github.com/ohjelmistotuotanto-hy/slides/blob/master/vierailuluennot/eficode.pdf">slidet</a>
          </ul>
        </li>
      </ul>
    </li>
    <li>Tehtävien palautussovellus <a href='https://study.cs.helsinki.fi/stats/courses/ohtu2019'>https://study.cs.helsinki.fi/stats/courses/ohtu2019</a></li>
    <li>
      Saat suoritusmerkinnän opintojaksolta <em>Versionhallinta 1 op</em> tekemällä kaikki kurssin versiohallintatehtävät ja suorittamalla hyväksytysti miniprojektin    
    </li>  
    <li>Kurssiin liittyvää keskustelua <a href='https://telegram.me/ohjelmistotuotanto'>Telegramissa</a>, tule mukaan!</li>
    <ul>
      <li>Telegram on whatsappin/messengerin tyylinen keskustelufoorumisovellus, jota on mahdollista käyttää selaimella, mobiililaitteilla ja Windows/Linux/OSX-clienteillä. </li>
      <li><strong>Huom:</strong> kaikki epäasialliset, halventavat ja jotain ihmisryhmää syrjivät kommentit kanavalla ovat kiellettyjä ja tälläisten
      kommenttien esittäjät poistetaan kanavalta</li>
    </ul>
  </ul>

  <hi class="page-heading">Aikataulu</hi>

  <div style="margin-bottom: 15px;"></div>

<h3 id="viikko-1">Viikko 1</h3>

<ul>
  <li>Luento 1: maanantai 28.10. klo 12-14 CK112
    <ul>
      <li><a href="/osa0">Johdanto</a></li>
      <li><a href="/osa1#ohjelmistotuotanto-ja-sen-osa-alueet">Ohjelmistotuotantoprosessin vaiheet</a></li>
      <li><a href="/osa1#ketterä-ohjelmistokehitys">Ketterä ohjelmistokehitys</a></li>
    </ul>
  </li>
  <li>Luento 2: tiistai 29.10. klo 12-14 CK112
    <ul>
      <li><a href="osa1#scrum">Scrum</a></li>
    </ul>
  </li>
  <li>Laskarit
    <ul>
      <li><a href="https://study.cs.helsinki.fi/stats/courses/ohtu2019/quiz/1">monivalintatehtävät</a> deadline
        sunnuntaina 3.11. klo 23:59:00</li>
      <li><a href="/tehtavat1">ohjelmointi/versionhallinta/konfigurointitehtävät</a> deadline
        maanantaina 4.11. klo 23:59</li>
    </ul>
  </li>
</ul>

<h3 id="viikko-2">Viikko 2</h3>

<ul>
  <li>Luento 3: maanantai 4.11. klo 12-14 CK112
    <ul>
      <li><a href="/osa2#vaatimusmäärittely">Vaatimusmäärittely</a></li>
      <li><a href="/osa2#user-story">Ketterä vaatimusten hallinta</a></li>
    </ul>
  </li>
  <li>Luento 4: tiistai 5.11. klo 12-14 CK112
    <ul>
      <li><a href="/osa2#user-story">Ketterä vaatimusten hallinta jatkuu</a></li>
      <li><a href="/osa2#sprintin-suunnittelu">Sprintin suunnittelu- ja hallinta</a></li>
    </ul>
  </li>
  <li>Laskarit
    <ul>
      <li><a href="https://study.cs.helsinki.fi/stats/courses/ohtu2019/quiz/2">monivalintatehtävät</a> deadline
        sunnuntaina 10.11. klo 23:59:00</li>
      <li><a href="/tehtavat2">ohjelmointi/versionhallinta/konfigurointitehtävät</a> deadline
        maanantaina 11.11. klo 23:59</li>
    </ul>
  </li>
</ul>

<h3 id="viikko-3">Viikko 3</h3>

<ul>
  <li>Luento 5: maanantai 11.11. klo 12-14 CK112
    <ul>
      <li><a href="/osa3">Laadunhallinnan perusteet</a></li>
    </ul>
  </li>
  <li>Luento 6: tiistai 12.11. klo 12-14 CK112
    <ul>
      <li><a href="/osa3#ketterien-menetelmien-testauska%CC%88yta%CC%88nteet">Ketterien menetelmien
          testauskäytänteet</a></li>
    </ul>
  </li>
  <li>Laskarit
    <ul>
      <li><a href="https://study.cs.helsinki.fi/stats/courses/ohtu2019/quiz/3">monivalintatehtävät</a> deadline
        sunnuntaina 17.11. klo 23:59:00</li>
      <li><a href="/tehtavat3">ohjelmointi/versionhallinta/konfigurointitehtävät</a> deadline
        maanantaina 18.11. klo 23:59</li>
    </ul>
  </li>
</ul>

<h3 id="viikko-4">Viikko 4</h3>

<ul>
  <li>Luento 7: maanantai 18.11. klo 12-14 CK112
    <ul>
      <li><a href="/osa3#tuotannossa-tapahtuva-testaaminen-ja-laadunhallinta">Tuotannossa tapahtuva laadunhallinta</a>
      </li>
      <li><a href="/osa3#devops">DevOps</a></li>
    </ul>
  </li>
  <li>Luento 8: tiistai 19.11. klo 12-14 CK112
    <ul>
      <li><a href="/osa4#ohjelmiston-arkkitehtuuri">Arkkitehtuurisuunnittelu</a></li>
      <li><a href="/osa4#arkkitehtuuri-ketterissä-menetelmissä">Arkkitehtuuri ketterissä menetemissä</a></li>
      <li><a href="http://localhost:4000/osa4#olio/komponenttisuunnittelu">Olio/komponenttisuunnittelu</a></li>
    </ul>
  </li>
  <li>Laskarit
    <ul>
      <li><a href="https://study.cs.helsinki.fi/stats/courses/ohtu2019/quiz/4">monivalintatehtävät</a> deadline
        sunnuntaina 24.11. klo 23:59:00</li>
      <li><a href="/tehtavat4">ohjelmointi/versionhallinta/konfigurointitehtävät</a> deadline
        maanantaina 25.11. klo 23:59</li>
    </ul>
  </li>
  <li>Miniprojekti
    <ul>
      <li>Aloitustilaisuudet (jokainen osallistuu yhteen tilaisuuteen)</li>
        <ul>
          <li>
            maanantai 18.11. klo 14-16 C222
          </li>
          <li>
            tiistai 19.11. klo 14-16 A128 Chemicum
          </li>
          <li>
            keskiviikko 20.11. klo 12-14 C222
          </li>
          <li>
            torstai 21.11. klo 14-16 C222
          </li>
        </ul>
    </ul>
  </li>
</ul>

<h3 id="viikko-5">Viikko 5</h3>

<ul>
  <li>Luento 9: maanantai 25.11. klo 12-14 CK112
    <ul>
      <li><a href="/osa5#lean">Lean</a></li>
    </ul>
  </li>
  <li>Luento 10: tiistai 26.11. klo 12-14 CK112
    <ul>
      <li><a href="/osa5#laajan-skaalan-kettera%CC%88-ohjelmistokehitys">Laajan skaalan ketterä ohjelmistokehitys</a>
      </li>
      <li><a href="/osa5#ketterien-menetelmien-käyttö-ja-hyödyt-tutkimuksen-valossa">Ketterien menetelmien käyttö ja
          hyödyt tutkimuksen valossa</a></li>
    </ul>
  </li>
  <li>Laskarit
    <ul>
      <li><a href="https://study.cs.helsinki.fi/stats/courses/ohtu2019/quiz/5">monivalintatehtävät</a> deadline
        sunnuntaina 1.12. klo 23:59:00</li>
      <li><a href="/tehtavat5">ohjelmointi/versionhallinta/konfigurointitehtävät</a> deadline
        maanantaina 2.12. klo 23:59</li>
    </ul>
  </li>
  <li>Miniprojekti
    <ul>
      <li>Asiakastapaamiset (sprintin 1 review, sprintin 2 suunnittelu)</li>
    </ul>
  </li>
</ul>

<h3 id="viikko-6">Viikko 6</h3>

<ul>
  <li>Luento 11: maanantai 2.12. klo 12-14 CK112
    <ul>
      <li>Vierailuluento Juha Viljanen <em>Software Testing: Why, How and What — and how we test at Smartly.io</em></li>
    </ul>
  </li>
  <li>Luento 12: tiistai 3.12. klo 12-14 CK112
    <ul>
      <li>Vierailuluento Niko Laitinen <em>Nitor</em></li>
    </ul>
  </li>
  <li>Laskarit
    <ul>
      <li><a href="https://study.cs.helsinki.fi/stats/courses/ohtu2019/quiz/6">monivalintatehtävät</a> deadline
        perjantaina 13.12. klo 23:59:00</li>
      <li><a href="/tehtavat6">ohjelmointi/versionhallinta/konfigurointitehtävät</a> deadline
        maanantaina 9.12. klo 23:59</li>
    </ul>
  </li>
  <li>Miniprojekti
    <ul>
      <li>Asiakastapaamiset (sprintin 2 review, sprintin 3 suunnittelu)</li>
    </ul>
  </li>
</ul>

<h3 id="viikko-7">Viikko 7</h3>

<ul>
  <li>Luento 13: maanantai 9.12. klo 12-14 CK112
    <ul>
      <li>Vierailuluento Hannu Kokko <em>Elisa</em></li>
    </ul>
  </li>
  <li>Luento 14: tiistai 10.12. klo 12-14 CK112
    <ul>
      <li>Vierailuluento Marko Klemetti <em>Eficode</em></li>
    </ul>
  </li>
  <li>Laskarit
    <ul>
      <li><a href="https://study.cs.helsinki.fi/stats/courses/ohtu2019/quiz/7">monivalintatehtävät</a> deadline
        perjantaina 20.12. klo 23:59:00</li>
      <li><a href="/tehtavat7">ohjelmointi/versionhallinta/konfigurointitehtävät</a> deadline
        maanantaina 16.12. klo 23:59:00</li>
    </ul>
  </li>
  <li>Miniprojekti
    <ul>
      <li>Loppudemot (jokainen ryhmä osallistuu toiseen demoista)</li>
      <ul>
        <li>
          maanantai 9.12. klo 14-17
        </li>
        <li>
          tiistai 10.12. klo 14-17
        </li>
      </ul>
    </ul>
  </li>
</ul>

<h3 id="viikko-8">Viikko 8</h3>

<ul>
  <li>
    <a href='https://courses.helsinki.fi/fi/TKT20006/133010615'>Kurssikoe</a> maanantaina 16.12. 9-12 salissa A111
    Kokeeseen tulee ilmoittautua viimeistään 10 päivää ennen kokeen alkua!
  </li>
</ul>

  <h1 class="page-heading">Kurssimateriaalin tekijä ja lisenssi</h1>
  <p>
    Kurssimateriaalin on tehnyt <a href='https://github.com/mluukkai'>Matti Luukkainen</a>. Lukuisat <a href='https://github.com/ohjelmistotuotanto-hy/ohjelmistotuotanto-hy.github.io/graphs/contributors'>henkilöt</a> ovat parantaneet materiaalin laatua kirjoitus- ja asiavirhekorjauksin. Voit
    <a href='/osa0#typoja-materiaalissa'>osallistua</a> kurssimateriaalin parantamiseen myös itse.
  </p>
  <p> 
    Tämä materiaali on lisensoitu <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons BY-NC-SA 3.0 -lisenssillä</a>, joten voit käyttää ja levittää sitä vapaasti, kunhan alkuperäisten tekijöiden nimiä ei poisteta. Jos teet muutoksia materiaaliin ja haluat levittää muunneltua versiota, se täytyy lisensoida
    samalla lisenssillä. Materiaalien käyttö kaupalliseen tarkoitukseen on ilman erillistä lupaa kielletty. 
  </p>
</div>
